@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

h1 {
  color : #575f7d;
  font-weight : bold;

}

a {
  color : #707ce4;
  text-decoration : none;
  font-weight : bold;
}

a:hover {
  color : #243038;
  text-decoration : underline;
}

h2 {
  color : #96ce90;
}

img {
  border-radius : 50%;
  width : 100px;

}
.center {
  text-align: center;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  overflow : hidden;
}

p {
  margin-bottom : 40px;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;

}

li {
  float: none;
  margin-left :20px;
  margin-right : 20px;
  display: inline-block;


}
.list {
  font-size: 50px;
  list-style-type : none;
}
